$color = #064771
*
  box-sizing border-box
.container
  width 1170px
  margin 0 auto
  height 100%

header
  height 3em
  position fixed
  padding .5em 2em
  left 0
  right 0
  background $color
  color lighten($color, 90%)
  a
    text-decoration none
    color inherit
  #logo
    padding-right 2em
    border-right 1px solid lighten($color, 5%)
    height 3em
    line-height 3em
  #main-menu
    border-left 1px solid darken($color, 5%)
    height 3em
    li
      padding 0 1em
      color lighten($color, 70%)
      position relative
      height 3em
      line-height 3
      &.active, & a.active, &:hover
        color lighten($color, 90%)
      &.active:after
        content ''
        position absolute
        display block
        left 0
        right 0
        bottom 0
        height .3em
        background lighten($color, 90%)
  svg
    height 2em
    .fill
      fill currentColor
    .stroke
      stroke-width 3px
      stroke currentColor
      fill none

main
  margin-top 3em
.item-list
  .item
    margin-left 1em